	<header>
       <div class="background-image">
            <img src="media/wndlucis/whitecircle.svg" alt="Header background">
        </div>
        <div class="intro">
            <h2>About Us</h2>
            <a href="/">Home</a>
            <p><i class="fa-solid fa-chevrons-right"></i></p>
            <p class="color-p">About</p>
        </div>
	</header>