        <section class="top-footer">
            <div class="container">
                <div class="left-side">
                    <img src="media/h2vowh21/crossedarms.svg" alt="guy with crossed arms">
                    <img src="media/erzp1ind/greenback.svg" alt="green square lookalike">
                </div>
                <div class="right-side">
                    <h2>Let us know about your next project</h2>
                    <div class="office">
                        <i class="fa-regular fa-location-dot"></i>
                        <p>Office Location</p>
                    </div>
                    <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                    <div class="phone">
                        <i class="fa-regular fa-phone"></i>
                        <p>Phone Number</p>
                    </div>
                    <p>+46 8 123 456 75</p>
                    <div class="email">
                        <i class="fa-sharp fa-regular fa-envelope"></i>
                        <p>E-mail address</p>
                    </div>
                    <p>sales@onatrix.com</p>
                </div>
            </div>
        </section>