<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f85b4b6-bba0-47ca-863f-04a5f4c91e8d" Alias="About" Level="2">
  <Info>
    <Parent Key="166b9a4e-91a8-44c8-bcc2-6b6c006ad559">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-09-26T12:06:44</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b5b1551-b167-49ec-a460-b6db85a1e348">aboutPage</Template>
  </Info>
  <Properties>
    <aboutBoxFiveImage>
      <Value><![CDATA[[
  {
    "key": "c1875682-3c23-4c2c-bf62-fe80e12aa554",
    "mediaKey": "d7378617-de53-42c8-a0c3-7e311c46d1b3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBoxFiveImage>
    <aboutBoxFiveJob>
      <Value><![CDATA[CFO & Founder at Onatrix]]></Value>
    </aboutBoxFiveJob>
    <aboutBoxFiveName>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </aboutBoxFiveName>
    <aboutBoxFourImage>
      <Value><![CDATA[[
  {
    "key": "f1eae328-190d-4f81-8ae6-c8384c36a32a",
    "mediaKey": "88748917-2530-4b90-94a1-b5e6e905f132",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBoxFourImage>
    <aboutBoxFourJob>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </aboutBoxFourJob>
    <aboutBoxFourName>
      <Value><![CDATA[Tina Fox]]></Value>
    </aboutBoxFourName>
    <aboutBoxOneImage>
      <Value><![CDATA[[
  {
    "key": "586da47e-3268-4539-9063-c840bccc79ea",
    "mediaKey": "6a55926a-f6b9-45a7-a234-6a1383ff991f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBoxOneImage>
    <aboutBoxOneJob>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </aboutBoxOneJob>
    <aboutBoxOneName>
      <Value><![CDATA[Brandon Newton]]></Value>
    </aboutBoxOneName>
    <aboutBoxSevenImage>
      <Value><![CDATA[[
  {
    "key": "6e3a09fe-963b-40e0-b695-c16feba7f0a3",
    "mediaKey": "a5556076-27f8-4e8c-8815-03424adee772",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBoxSevenImage>
    <aboutBoxSevenJob>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </aboutBoxSevenJob>
    <aboutBoxSevenName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </aboutBoxSevenName>
    <aboutBoxSixImage>
      <Value><![CDATA[[
  {
    "key": "d4976e74-8c96-4d03-8fef-6ef093d574e5",
    "mediaKey": "2578e22a-acc6-4cb8-8939-25b03b83fc67",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBoxSixImage>
    <aboutBoxSixName>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </aboutBoxSixName>
    <aboutBoxThreeImage>
      <Value><![CDATA[[
  {
    "key": "217d498f-62da-4736-b444-e0dd4640c8b4",
    "mediaKey": "96f05abc-4951-45f0-81e6-bc0c2cbd6f2e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBoxThreeImage>
    <aboutBoxThreeJob>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </aboutBoxThreeJob>
    <aboutBoxThreeName>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </aboutBoxThreeName>
    <aboutBoxTwoImage>
      <Value><![CDATA[[
  {
    "key": "1555b8ff-bf79-4398-96d9-a60e36a95744",
    "mediaKey": "acb5ac15-ba83-4523-98cf-bfd776081401",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBoxTwoImage>
    <aboutBoxTwoJob>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </aboutBoxTwoJob>
    <aboutBoxTwoName>
      <Value><![CDATA[AJ Carter]]></Value>
    </aboutBoxTwoName>
    <aboutExpertSectionHeadline>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </aboutExpertSectionHeadline>
    <aboutExpertSectionTitle>
      <Value><![CDATA[OUR EXPERT]]></Value>
    </aboutExpertSectionTitle>
    <aboutSixJob>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </aboutSixJob>
    <aboutTinaCeo>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </aboutTinaCeo>
    <aboutTinaCursive>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutTinaCursive>
    <aboutTinaImage>
      <Value><![CDATA[[
  {
    "key": "e4f99cb0-34fd-4e63-a77a-5e30418f1226",
    "mediaKey": "88748917-2530-4b90-94a1-b5e6e905f132",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutTinaImage>
    <aboutTinaTextFive>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </aboutTinaTextFive>
    <aboutTinaTextFour>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </aboutTinaTextFour>
    <aboutTinaTextOne>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </aboutTinaTextOne>
    <aboutTinaTextSix>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutTinaTextSix>
    <aboutTinaTextThree>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutTinaTextThree>
    <aboutTinaTextTwo>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.]]></Value>
    </aboutTinaTextTwo>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <reviewSectionBank>
      <Value><![CDATA[Swebank]]></Value>
    </reviewSectionBank>
    <reviewSectionCursive>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </reviewSectionCursive>
    <reviewSectionHeadline>
      <Value><![CDATA[Trusted by some of the Biggest Names]]></Value>
    </reviewSectionHeadline>
    <reviewSectionHeadshot>
      <Value><![CDATA[[
  {
    "key": "97e41098-3da6-4a8b-aa64-5ff3f0d65229",
    "mediaKey": "8c27e8d1-0db0-424b-b6fd-02cd8c4925a3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewSectionHeadshot>
    <reviewSectionName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </reviewSectionName>
    <reviewSectionTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </reviewSectionTitle>
  </Properties>
</Content>