<?xml version="1.0" encoding="utf-8"?>
<Content Key="99a6dc8c-035c-4de1-ac1f-9dc481782ceb" Alias="Contact" Level="2">
  <Info>
    <Parent Key="166b9a4e-91a8-44c8-bcc2-6b6c006ad559">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-26T12:19:24</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7c4457b8-7271-4d37-be2e-5ba5ded2f660">contactPage</Template>
  </Info>
  <Properties>
    <contactBgImg>
      <Value><![CDATA[[
  {
    "key": "1183c92f-9a54-4cce-9b17-d44c1e5f13e9",
    "mediaKey": "8cd44c51-51ac-41cd-8810-228d2ac1d143",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBgImg>
    <contactLogo1>
      <Value><![CDATA[[
  {
    "key": "fb5fc6f5-833e-454d-85dc-2b1583a61d7e",
    "mediaKey": "d7f40506-5f25-4524-b971-e53d28a3b220",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactLogo1>
    <contactLogo2>
      <Value><![CDATA[[
  {
    "key": "23fe8d66-1494-47e5-bb9f-bc37b1006c4b",
    "mediaKey": "d8987d67-5d7f-4d53-9fb5-01c3df429885",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactLogo2>
    <contactLogo3>
      <Value><![CDATA[[
  {
    "key": "04d15c50-3b66-4a2a-8144-4bf333264783",
    "mediaKey": "95f9b235-c4b7-4a1c-a82d-a0f84158c527",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactLogo3>
    <contactLogo4>
      <Value><![CDATA[[
  {
    "key": "d75af6b3-b11c-4fbd-92ff-eb83ef6cd315",
    "mediaKey": "74301873-e75b-45a4-96d0-1f8d6fb28797",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactLogo4>
    <contactLogo5>
      <Value><![CDATA[[
  {
    "key": "e4671a0a-76bc-4253-bf51-11162eef71ab",
    "mediaKey": "a4edca8d-d660-4c90-a6f0-53b5b0180265",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactLogo5>
    <contactLogo6>
      <Value><![CDATA[[
  {
    "key": "6a846040-a664-4c90-952a-7a55cb3f07fd",
    "mediaKey": "2f4efb35-5739-4649-9db4-edfaf2ad32ff",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactLogo6>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>