<?xml version="1.0" encoding="utf-8"?>
<Content Key="166b9a4e-91a8-44c8-bcc2-6b6c006ad559" Alias="Official Website - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialWebsiteHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-08-28T12:47:38</CreateDate>
    <NodeName Default="Official Website - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5fcaa14e-f119-463c-9ff8-47768cf67b2b">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "330a7fe6-9381-4a64-afba-88da1bd7c255",
    "mediaKey": "d96549ef-c5ab-4dec-bee9-0ca60ca9169e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "14a0bfb8-3f12-4e88-a924-4524bfde2e8f",
    "mediaKey": "c2b31f2a-82f3-4d84-917a-9808c8c87565",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact Us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <logotypeImageFive>
      <Value><![CDATA[[
  {
    "key": "b670bbcb-aa40-4fd2-b523-83010c1d8d13",
    "mediaKey": "a4edca8d-d660-4c90-a6f0-53b5b0180265",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotypeImageFive>
    <logotypeImageFour>
      <Value><![CDATA[[
  {
    "key": "1d94ca97-df2c-429a-a784-517f8d3bd381",
    "mediaKey": "74301873-e75b-45a4-96d0-1f8d6fb28797",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotypeImageFour>
    <logotypeImageOne>
      <Value><![CDATA[[
  {
    "key": "504c6ba7-0d83-4ff5-a299-6e1464761379",
    "mediaKey": "d7f40506-5f25-4524-b971-e53d28a3b220",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotypeImageOne>
    <logotypeImageSix>
      <Value><![CDATA[[
  {
    "key": "80b026b1-d7dd-498b-bd0e-8c9faef184ce",
    "mediaKey": "2f4efb35-5739-4649-9db4-edfaf2ad32ff",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotypeImageSix>
    <logotypeImageThree>
      <Value><![CDATA[[
  {
    "key": "9b07f1e7-c1b4-4b35-9657-912dfb9d99c0",
    "mediaKey": "95f9b235-c4b7-4a1c-a82d-a0f84158c527",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotypeImageThree>
    <logotypeImageTwo>
      <Value><![CDATA[[
  {
    "key": "e06613b2-4e73-4e3c-bdc0-177e4c154854",
    "mediaKey": "d8987d67-5d7f-4d53-9fb5-01c3df429885",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotypeImageTwo>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <projectsBoxContent>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsBoxContent>
    <projectsBoxFourHeadline>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </projectsBoxFourHeadline>
    <projectsBoxFourImage>
      <Value><![CDATA[[
  {
    "key": "110a7086-02ab-4dfc-8d0d-58c642199a76",
    "mediaKey": "630835f1-2bd7-4631-b9e8-6891aac588ca",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBoxFourImage>
    <projectsBoxOneHeadline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectsBoxOneHeadline>
    <projectsBoxOneImage>
      <Value><![CDATA[[
  {
    "key": "4161a563-19ed-4ee3-b5d5-7e65754732de",
    "mediaKey": "22b4858a-9c5e-4f36-9ffc-c676ca2b5fd1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBoxOneImage>
    <projectsBoxThreeHeadline>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc]]></Value>
    </projectsBoxThreeHeadline>
    <projectsBoxThreeImage>
      <Value><![CDATA[[
  {
    "key": "d7205fb4-0bbb-4a3d-8d0e-23a63d8a6b49",
    "mediaKey": "e912f653-a33c-4950-b0a0-8080ea3a4f35",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBoxThreeImage>
    <projectsBoxTwoHeadline>
      <Value><![CDATA[Business Insights for SP group Inc.]]></Value>
    </projectsBoxTwoHeadline>
    <projectsBoxTwoImage>
      <Value><![CDATA[[
  {
    "key": "bcf9ba3e-ee80-43db-b1ef-b915e0914ccb",
    "mediaKey": "e9065e4a-504e-4800-ad7a-e4b41f37fb54",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBoxTwoImage>
    <projectsHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </projectsHeadline>
    <projectsSectionTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectsSectionTitle>
    <serviceBoxDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceBoxDescription>
    <serviceBoxFiveImg>
      <Value><![CDATA[[
  {
    "key": "5e48dc22-1d59-4965-87eb-3eb9b7ff0c47",
    "mediaKey": "4214d4b3-f16e-46ad-a959-7ff3e5524bbe",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxFiveImg>
    <serviceBoxFiveTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceBoxFiveTitle>
    <serviceBoxFourImg>
      <Value><![CDATA[[
  {
    "key": "592a8303-3791-4ec9-8857-c38894921903",
    "mediaKey": "6ff423dd-8d48-45b6-82a7-da3e77b890ee",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxFourImg>
    <serviceBoxFourTitle>
      <Value><![CDATA[Tax and Trust]]></Value>
    </serviceBoxFourTitle>
    <serviceBoxOneImg>
      <Value><![CDATA[[
  {
    "key": "ddb3db30-b492-460d-85c4-2946948ec611",
    "mediaKey": "9cab65ea-ed24-4fda-bccf-e1bcf2afc2e4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxOneImg>
    <serviceBoxOneTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceBoxOneTitle>
    <serviceBoxSixImg>
      <Value><![CDATA[[
  {
    "key": "218953a9-1c9d-40bd-8cc7-2961c40b54ef",
    "mediaKey": "aea2bcc7-cf5d-4f6c-95a3-64022a293556",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxSixImg>
    <serviceBoxSixTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceBoxSixTitle>
    <serviceBoxThreeImg>
      <Value><![CDATA[[
  {
    "key": "ebee1d06-ca3f-47da-9342-f50b41c88ba3",
    "mediaKey": "72ef3a32-bc56-4f71-90a2-b4d634376f71",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxThreeImg>
    <serviceBoxThreeTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceBoxThreeTitle>
    <serviceBoxTwoImg>
      <Value><![CDATA[[
  {
    "key": "28e57d3c-573e-4cbf-b98a-40da35627518",
    "mediaKey": "9edda79f-f27f-4fa1-8c4d-9d20919f0045",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceBoxTwoImg>
    <serviceBoxTwoTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceBoxTwoTitle>
    <serviceHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </serviceHeadline>
    <serviceSectionTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </serviceSectionTitle>
    <successBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "062acb48-d460-4189-9144-8edd961db890",
    "mediaKey": "94e96dcd-67e2-4273-9159-058491df643b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successBackgroundImage>
    <successBoxOneContent>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </successBoxOneContent>
    <successBoxOneHeadline>
      <Value><![CDATA[689]]></Value>
    </successBoxOneHeadline>
    <successBoxThreeContent>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successBoxThreeContent>
    <successBoxThreeHeadline>
      <Value><![CDATA[125]]></Value>
    </successBoxThreeHeadline>
    <successBoxTwoContent>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successBoxTwoContent>
    <successBoxTwoHeadline>
      <Value><![CDATA[370]]></Value>
    </successBoxTwoHeadline>
    <successHeadline>
      <Value><![CDATA[Success Story]]></Value>
    </successHeadline>
    <successSectionTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successSectionTitle>
    <successTeamPicture>
      <Value><![CDATA[[
  {
    "key": "af44236a-ea89-4a69-9f12-a164165d8207",
    "mediaKey": "866b7899-5af8-40fd-a436-132ae83f6de9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successTeamPicture>
    <trustBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "17739756-f4b8-4971-aaee-9ec8d96aa906",
    "mediaKey": "0d69fa86-a855-4c45-b3e1-62ab1ebc4fe7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustBackgroundImage>
    <trustButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </trustButtonText>
    <trustColorHeadline>
      <Value><![CDATA[4.000+ clients]]></Value>
    </trustColorHeadline>
    <trustDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </trustDescription>
    <trustHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </trustHeadline>
    <trustTeamImage>
      <Value><![CDATA[[
  {
    "key": "37863a0a-a629-46c2-a9e2-a907e4079fdd",
    "mediaKey": "1b00bed0-500e-4f3d-b34a-cc5f6997f3b1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustTeamImage>
  </Properties>
</Content>