<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f320d5a-b095-4e5e-87d7-286df61fe0a8" Alias="Service Item - 1" Level="3">
  <Info>
    <Parent Key="5db73eb3-d4ae-4237-9c3b-f035369ccc51">Service</Parent>
    <Path>/OfficialWebsiteHome/Service/ServiceItem1</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItem1</ContentType>
    <CreateDate>2024-09-30T19:41:03</CreateDate>
    <NodeName Default="Service Item - 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0e3eb4a-8c0b-4459-853b-591c3762444f">serviceItem1</Template>
  </Info>
  <Properties>
    <footerImage1>
      <Value><![CDATA[[
  {
    "key": "bf559bb6-56f2-448a-98c4-2831a6c8536e",
    "mediaKey": "fd4997cd-e580-46a0-94b5-60e42832e5fc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerImage1>
    <footerImage2>
      <Value><![CDATA[[
  {
    "key": "ed575aef-89dd-4f32-9b4e-ebd5b969670c",
    "mediaKey": "435fced6-e9b8-458d-8076-e675a5f6b7f5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerImage2>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "b8701675-b21e-4d61-8bfb-de895a8ca783",
    "mediaKey": "eb08fa41-9709-44c0-978e-782fb4914b85",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <secondHeaderText>
      <Value><![CDATA[Risk Management]]></Value>
    </secondHeaderText>
    <serviceLeftDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceLeftDescription>
    <serviceLeftHeadline>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceLeftHeadline>
    <serviceLeftImage>
      <Value><![CDATA[[
  {
    "key": "9e687b61-1efe-4bcf-84e6-89fa6b2e98c2",
    "mediaKey": "4214d4b3-f16e-46ad-a959-7ff3e5524bbe",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceLeftImage>
    <serviceRightBottomImage>
      <Value><![CDATA[[
  {
    "key": "14e29401-da76-48da-9533-03de7b460ec0",
    "mediaKey": "42d1ae4a-2ea8-41ed-88ad-dca4e6f584ba",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceRightBottomImage>
    <serviceRightBox2Content1>
      <Value><![CDATA[Listen closely to you and learn what you value]]></Value>
    </serviceRightBox2Content1>
    <serviceRightBox2Content2>
      <Value><![CDATA[Analyze your current financial situation]]></Value>
    </serviceRightBox2Content2>
    <serviceRightBox2Content3>
      <Value><![CDATA[Understand your feelings about managing money and investments]]></Value>
    </serviceRightBox2Content3>
    <serviceRightBoxContent1>
      <Value><![CDATA[Financial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.]]></Value>
    </serviceRightBoxContent1>
    <serviceRightBoxContent2>
      <Value><![CDATA[Pellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue]]></Value>
    </serviceRightBoxContent2>
    <serviceRightBoxContent3>
      <Value><![CDATA[In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.]]></Value>
    </serviceRightBoxContent3>
    <serviceRightHeadline>
      <Value><![CDATA[Navigating Financial Risks with Confidence]]></Value>
    </serviceRightHeadline>
    <serviceRightHeadline2>
      <Value><![CDATA[A financial plan is based on a personal relationship]]></Value>
    </serviceRightHeadline2>
    <serviceRightHeadline3>
      <Value><![CDATA[]]></Value>
    </serviceRightHeadline3>
    <serviceRightText1>
      <Value><![CDATA[]]></Value>
    </serviceRightText1>
    <serviceRightText2>
      <Value><![CDATA[]]></Value>
    </serviceRightText2>
    <serviceRightText3>
      <Value><![CDATA[]]></Value>
    </serviceRightText3>
    <serviceRightText4>
      <Value><![CDATA[]]></Value>
    </serviceRightText4>
    <serviceRightText5>
      <Value><![CDATA[]]></Value>
    </serviceRightText5>
    <serviceRightTopImage>
      <Value><![CDATA[[
  {
    "key": "5351ce23-40f0-4ff7-9958-8f954e41591e",
    "mediaKey": "9cab65ea-ed24-4fda-bccf-e1bcf2afc2e4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceRightTopImage>
  </Properties>
</Content>