@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;
}

	<header>
       <div class="background-image">
            <img src="media/wndlucis/whitecircle.svg" alt="Header background">
        </div>
        <div class="intro">
            <h2>Our Projects</h2>
            <a href="/">Home</a>
            <p><i class="fa-solid fa-chevrons-right"></i></p>
            <p class="color-p">Projects</p>
        </div>
	</header>

@await Html.PartialAsync("partials/static/topfooter.cshtml")