<?xml version="1.0" encoding="utf-8"?>
<Media Key="96f05abc-4951-45f0-81e6-bc0c2cbd6f2e" Alias="aaron-lambert" Level="2">
  <Info>
    <Parent Key="123b9772-5542-430b-9b5d-4924e119b4d5">Headshots</Parent>
    <Path>/Headshots/aaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T15:15:12</CreateDate>
    <NodeName Default="aaron-lambert" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j1tfe3ck/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>