<?xml version="1.0" encoding="utf-8"?>
<Media Key="acb5ac15-ba83-4523-98cf-bfd776081401" Alias="aj-carter" Level="2">
  <Info>
    <Parent Key="123b9772-5542-430b-9b5d-4924e119b4d5">Headshots</Parent>
    <Path>/Headshots/ajCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T15:15:23</CreateDate>
    <NodeName Default="aj-carter" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/22ibotuy/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>