<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a55926a-f6b9-45a7-a234-6a1383ff991f" Alias="brandon-newton" Level="2">
  <Info>
    <Parent Key="123b9772-5542-430b-9b5d-4924e119b4d5">Headshots</Parent>
    <Path>/Headshots/brandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T15:15:48</CreateDate>
    <NodeName Default="brandon-newton" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/taxppcfc/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>