<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7378617-de53-42c8-a0c3-7e311c46d1b3" Alias="brandon-kerr" Level="2">
  <Info>
    <Parent Key="123b9772-5542-430b-9b5d-4924e119b4d5">Headshots</Parent>
    <Path>/Headshots/brandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T15:15:35</CreateDate>
    <NodeName Default="brandon-kerr" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2u3jknki/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>