<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd4997cd-e580-46a0-94b5-60e42832e5fc" Alias="crossedarms" Level="2">
  <Info>
    <Parent Key="b5fb7031-8229-4234-9507-5ea293ff46cc">Miscellaneous</Parent>
    <Path>/Miscellaneous/crossedarms</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T16:08:44</CreateDate>
    <NodeName Default="crossedarms" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h2vowh21/crossedarms.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>