<?xml version="1.0" encoding="utf-8"?>
<Media Key="94e96dcd-67e2-4273-9159-058491df643b" Alias="dottedgreen" Level="2">
  <Info>
    <Parent Key="276d9ce3-09a9-4c06-bb0c-7afa66030574">Success</Parent>
    <Path>/Success/dottedgreen</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T14:31:15</CreateDate>
    <NodeName Default="dottedgreen" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h5iew3xz/dottedgreen.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>