<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7f40506-5f25-4524-b971-e53d28a3b220" Alias="Freedombird" Level="2">
  <Info>
    <Parent Key="c812b6e7-5137-4550-8dc9-8eb63c5add99">Logotypes</Parent>
    <Path>/Logotypes/Freedombird</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T15:17:14</CreateDate>
    <NodeName Default="Freedombird" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4s2fmnj4/freedombirdlogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>