<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4edca8d-d660-4c90-a6f0-53b5b0180265" Alias="Globe" Level="2">
  <Info>
    <Parent Key="c812b6e7-5137-4550-8dc9-8eb63c5add99">Logotypes</Parent>
    <Path>/Logotypes/Globe</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T15:18:12</CreateDate>
    <NodeName Default="Globe" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p31f4rt1/globelogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>