<?xml version="1.0" encoding="utf-8"?>
<Media Key="435fced6-e9b8-458d-8076-e675a5f6b7f5" Alias="greenback" Level="2">
  <Info>
    <Parent Key="b5fb7031-8229-4234-9507-5ea293ff46cc">Miscellaneous</Parent>
    <Path>/Miscellaneous/greenback</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T16:09:34</CreateDate>
    <NodeName Default="greenback" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/erzp1ind/greenback.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>