<?xml version="1.0" encoding="utf-8"?>
<Media Key="123b9772-5542-430b-9b5d-4924e119b4d5" Alias="Headshots" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Headshots</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-26T15:14:34</CreateDate>
    <NodeName Default="Headshots" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>