<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2b31f2a-82f3-4d84-917a-9808c8c87565" Alias="HeroTina" Level="2">
  <Info>
    <Parent Key="3b10f66b-b4ec-4a3b-a273-526762a06e6e">Hero Slider</Parent>
    <Path>/HeroSlider/HeroTina</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T16:07:24</CreateDate>
    <NodeName Default="HeroTina" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1crbcihi/herotina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>