<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8987d67-5d7f-4d53-9fb5-01c3df429885" Alias="Identity" Level="2">
  <Info>
    <Parent Key="c812b6e7-5137-4550-8dc9-8eb63c5add99">Logotypes</Parent>
    <Path>/Logotypes/Identity</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T15:17:30</CreateDate>
    <NodeName Default="Identity" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sxaduote/identitylogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>