<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c27e8d1-0db0-424b-b6fd-02cd8c4925a3" Alias="kevin-gardner" Level="2">
  <Info>
    <Parent Key="123b9772-5542-430b-9b5d-4924e119b4d5">Headshots</Parent>
    <Path>/Headshots/kevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T15:16:00</CreateDate>
    <NodeName Default="kevin-gardner" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/enkjk1vl/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>