<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5556076-27f8-4e8c-8815-03424adee772" Alias="kevin-gardner2" Level="2">
  <Info>
    <Parent Key="123b9772-5542-430b-9b5d-4924e119b4d5">Headshots</Parent>
    <Path>/Headshots/kevinGardner2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T15:16:11</CreateDate>
    <NodeName Default="kevin-gardner2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qtopor5d/kevin-gardner2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>