<?xml version="1.0" encoding="utf-8"?>
<Media Key="c812b6e7-5137-4550-8dc9-8eb63c5add99" Alias="Logotypes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logotypes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T15:16:31</CreateDate>
    <NodeName Default="Logotypes" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>