<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cd44c51-51ac-41cd-8810-228d2ac1d143" Alias="Map" Level="2">
  <Info>
    <Parent Key="b5fb7031-8229-4234-9507-5ea293ff46cc">Miscellaneous</Parent>
    <Path>/Miscellaneous/Map</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-01T11:10:40</CreateDate>
    <NodeName Default="Map" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/upyhm1vx/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>