<?xml version="1.0" encoding="utf-8"?>
<Media Key="2578e22a-acc6-4cb8-8939-25b03b83fc67" Alias="miranda-dayton" Level="2">
  <Info>
    <Parent Key="123b9772-5542-430b-9b5d-4924e119b4d5">Headshots</Parent>
    <Path>/Headshots/mirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T15:16:22</CreateDate>
    <NodeName Default="miranda-dayton" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1bpnvr43/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>