<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5fb7031-8229-4234-9507-5ea293ff46cc" Alias="Miscellaneous" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Miscellaneous</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-28T16:08:03</CreateDate>
    <NodeName Default="Miscellaneous" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>