<?xml version="1.0" encoding="utf-8"?>
<Media Key="95f9b235-c4b7-4a1c-a82d-a0f84158c527" Alias="Natural" Level="2">
  <Info>
    <Parent Key="c812b6e7-5137-4550-8dc9-8eb63c5add99">Logotypes</Parent>
    <Path>/Logotypes/Natural</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T15:17:41</CreateDate>
    <NodeName Default="Natural" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y2hfw33m/naturallogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>