<?xml version="1.0" encoding="utf-8"?>
<Media Key="194d5e7d-eabd-4eda-afef-d0e87ecfacb4" Alias="OnatrixLogo" Level="2">
  <Info>
    <Parent Key="b5fb7031-8229-4234-9507-5ea293ff46cc">Miscellaneous</Parent>
    <Path>/Miscellaneous/OnatrixLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T10:44:45</CreateDate>
    <NodeName Default="OnatrixLogo" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r5rp543g/onatrixlogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>