<?xml version="1.0" encoding="utf-8"?>
<Media Key="22b4858a-9c5e-4f36-9ffc-c676ca2b5fd1" Alias="pj1" Level="2">
  <Info>
    <Parent Key="0d60ec2f-e8fd-41a2-8ee3-838c99f828e8">Projects</Parent>
    <Path>/Projects/pj1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T14:41:25</CreateDate>
    <NodeName Default="pj1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pa2bnqcf/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>