<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9065e4a-504e-4800-ad7a-e4b41f37fb54" Alias="pj2" Level="2">
  <Info>
    <Parent Key="0d60ec2f-e8fd-41a2-8ee3-838c99f828e8">Projects</Parent>
    <Path>/Projects/pj2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T14:41:45</CreateDate>
    <NodeName Default="pj2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xdrlic0v/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>