<?xml version="1.0" encoding="utf-8"?>
<Media Key="e912f653-a33c-4950-b0a0-8080ea3a4f35" Alias="pj3" Level="2">
  <Info>
    <Parent Key="0d60ec2f-e8fd-41a2-8ee3-838c99f828e8">Projects</Parent>
    <Path>/Projects/pj3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T14:41:55</CreateDate>
    <NodeName Default="pj3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ufflaczh/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>