<?xml version="1.0" encoding="utf-8"?>
<Media Key="630835f1-2bd7-4631-b9e8-6891aac588ca" Alias="pj4" Level="2">
  <Info>
    <Parent Key="0d60ec2f-e8fd-41a2-8ee3-838c99f828e8">Projects</Parent>
    <Path>/Projects/pj4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T14:42:05</CreateDate>
    <NodeName Default="pj4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aoekvaom/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>