<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d60ec2f-e8fd-41a2-8ee3-838c99f828e8" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T14:41:01</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>