<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ff423dd-8d48-45b6-82a7-da3e77b890ee" Alias="service4" Level="2">
  <Info>
    <Parent Key="60afc001-10bc-4b6b-b2c2-caadc93efef5">Service</Parent>
    <Path>/Service/service4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:19:26</CreateDate>
    <NodeName Default="service4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f4pfndkt/service4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>