<?xml version="1.0" encoding="utf-8"?>
<Media Key="aea2bcc7-cf5d-4f6c-95a3-64022a293556" Alias="service6" Level="2">
  <Info>
    <Parent Key="60afc001-10bc-4b6b-b2c2-caadc93efef5">Service</Parent>
    <Path>/Service/service6</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:19:48</CreateDate>
    <NodeName Default="service6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/guabatcg/service6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>