<?xml version="1.0" encoding="utf-8"?>
<Media Key="9cab65ea-ed24-4fda-bccf-e1bcf2afc2e4" Alias="service1" Level="2">
  <Info>
    <Parent Key="60afc001-10bc-4b6b-b2c2-caadc93efef5">Service</Parent>
    <Path>/Service/service1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:18:39</CreateDate>
    <NodeName Default="service1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ddmas5r5/service1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>