<?xml version="1.0" encoding="utf-8"?>
<Media Key="60afc001-10bc-4b6b-b2c2-caadc93efef5" Alias="Service" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T13:17:55</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>