<?xml version="1.0" encoding="utf-8"?>
<Media Key="42d1ae4a-2ea8-41ed-88ad-dca4e6f584ba" Alias="serviceitem2" Level="2">
  <Info>
    <Parent Key="60afc001-10bc-4b6b-b2c2-caadc93efef5">Service</Parent>
    <Path>/Service/serviceitem2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T20:22:59</CreateDate>
    <NodeName Default="serviceitem2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xajhhift/service-item-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>