<?xml version="1.0" encoding="utf-8"?>
<Media Key="72ef3a32-bc56-4f71-90a2-b4d634376f71" Alias="service3" Level="2">
  <Info>
    <Parent Key="60afc001-10bc-4b6b-b2c2-caadc93efef5">Service</Parent>
    <Path>/Service/service3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:19:04</CreateDate>
    <NodeName Default="service3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ycdf1ecn/service3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>