<?xml version="1.0" encoding="utf-8"?>
<Media Key="d96549ef-c5ab-4dec-bee9-0ca60ca9169e" Alias="Signature Tina" Level="2">
  <Info>
    <Parent Key="b5fb7031-8229-4234-9507-5ea293ff46cc">Miscellaneous</Parent>
    <Path>/Miscellaneous/SignatureTina</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T16:08:37</CreateDate>
    <NodeName Default="Signature Tina" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dx0moo3q/signaturetina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>