<?xml version="1.0" encoding="utf-8"?>
<Media Key="74301873-e75b-45a4-96d0-1f8d6fb28797" Alias="Simpleaf" Level="2">
  <Info>
    <Parent Key="c812b6e7-5137-4550-8dc9-8eb63c5add99">Logotypes</Parent>
    <Path>/Logotypes/Simpleaf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T15:17:58</CreateDate>
    <NodeName Default="Simpleaf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qgsjffsa/simpleaflogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>