<?xml version="1.0" encoding="utf-8"?>
<Media Key="276d9ce3-09a9-4c06-bb0c-7afa66030574" Alias="Success" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Success</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T14:30:52</CreateDate>
    <NodeName Default="Success" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>