<?xml version="1.0" encoding="utf-8"?>
<Media Key="866b7899-5af8-40fd-a436-132ae83f6de9" Alias="success1" Level="2">
  <Info>
    <Parent Key="276d9ce3-09a9-4c06-bb0c-7afa66030574">Success</Parent>
    <Path>/Success/success1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T14:31:29</CreateDate>
    <NodeName Default="success1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/npcnszhd/success1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>