<?xml version="1.0" encoding="utf-8"?>
<Media Key="88748917-2530-4b90-94a1-b5e6e905f132" Alias="tina-fox" Level="2">
  <Info>
    <Parent Key="123b9772-5542-430b-9b5d-4924e119b4d5">Headshots</Parent>
    <Path>/Headshots/tinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T15:14:57</CreateDate>
    <NodeName Default="tina-fox" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2u0nm0rl/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>