<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d69fa86-a855-4c45-b3e1-62ab1ebc4fe7" Alias="trust1" Level="2">
  <Info>
    <Parent Key="121d54d1-4bc7-4690-b8d1-67a5749abe95">Trust</Parent>
    <Path>/Trust/trust1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T14:11:56</CreateDate>
    <NodeName Default="trust1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ordnx10o/trust1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>