<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b00bed0-500e-4f3d-b34a-cc5f6997f3b1" Alias="trust2" Level="2">
  <Info>
    <Parent Key="121d54d1-4bc7-4690-b8d1-67a5749abe95">Trust</Parent>
    <Path>/Trust/trust2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T14:12:19</CreateDate>
    <NodeName Default="trust2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eiblf4iv/trust2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>