<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06cc9b3c-1c76-4c8b-aff6-950dd1e8c7c9" Alias="Service Block" Level="1">
  <Info>
    <Name>Service Block</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "992414c1-863b-46bf-92a0-6910a90acb9e",
      "iconColor": "#00000000",
      "forceHideContentEditorInOverlay": false
    }
  ]
}]]></Config>
</DataType>